body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.name{
    color: blue;
}
section{
    display: flex;
}
.half-size{
    width: 50%;
    padding-top: 5%;
    padding: 10%;
}
.half-size img{
    width: 75%;
    padding-top: 2%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(blue ,cyan);
    padding: 10px 40px;
    border-radius: 2px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(tp.png);
    background-repeat: no-repeat;
}
.bottom-banner{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
